.navbar1-style {
    display: flex;
    justify-content: space-between;
   
}

.navbar-input-menu {
    display: flex;
    padding-top: 2.2rem;
    gap: 2rem;
}

.navbar-input-button {
    display: flex;
    gap: 0.3rem;
}

.max-wids {
    padding: 0 2rem;
}


/* *************MEDIA QUERIES (MEDIUM DEVICES) */

@media screen and (max-width: 1024px) {
    .max-wids {
        padding: 0;
    }
  
}

/* *************MEDIA QUERIES (SMALL DEVICE)*********** */

@media  screen and (max-width: 600px) {
  
}